<ion-header>
  <ion-item>
    <ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)" debounce=260 color={{corDominante}}>
    </ion-searchbar>
  </ion-item>
</ion-header>

<ion-content>

  <ion-button (click)="excluirCategoria()" fill="outiline">
    <ion-icon name="trash" color={{corDominante}} size="large"></ion-icon>
  </ion-button>
  
  <ion-list *ngIf="sizeBoolean">
    <ion-card *ngFor="let anotacao of categorias[index].anotacao | filtro: tituloCor" color={{anotacao.cor}}
      (click)="editarAnotacao(anotacao)">
      <ion-card-content>
        <ion-card-title>{{anotacao.titulo}}</ion-card-title>
        {{anotacao.descricao}}
        <br/>
        <ion-icon name="calendar" size="large"></ion-icon>{{anotacao.data}}
        <ion-icon name="clock" size="large"></ion-icon>{{anotacao.hora}}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-item slot="start" (click)="navegarHome('home')">
    <ion-icon name="arrow-round-back" color={{corDominante}} size="large"></ion-icon>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="navegar()" color={{corDominante}}>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>