<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  
      <ion-button fill= "outiline" slot="end" (click)="excluirAnotacao()" size="small">
        <ion-icon fill= "outiline" name="trash" size="large" color={{this.corDominante}}></ion-icon>
      </ion-button>
      <ion-button fill= "outiline"  slot="end" (click)="lerAnotacao()" size="small">
        <ion-icon name="megaphone" size="large" color={{this.corDominante}}></ion-icon>
      </ion-button >
      <ion-button fill= "outiline" slot="end" size="small" (click)="captureAudio()">
        <ion-icon name="mic" size="large" color={{this.corDominante}}></ion-icon>
      </ion-button>
      <ion-button fill= "outiline" slot="end" size="small" (click)="captureImageVideo()">
        <ion-icon name="camera" size="large" color={{this.corDominante}} ></ion-icon>
      </ion-button>
      <ion-button fill= "outiline" slot="end" (click)="salvar()" size="small">
        <ion-icon name="save" size="large" color={{this.corDominante}}></ion-icon>
      </ion-button>
    



  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corAnotcao">
    <ion-button (click)="corAnotacao('success')" size="small" color="success"></ion-button>
    <ion-button (click)="corAnotacao('secondary')" size="small" color="secondary"></ion-button>
    <ion-button (click)="corAnotacao('tertiary')" size="small" color="tertiary"></ion-button>
    <ion-button (click)="corAnotacao('dark')" size="small" color="dark"></ion-button>
    <ion-button (click)="corAnotacao('warning')" size="small" color="warning"></ion-button>
    <ion-button (click)="corAnotacao('danger')" size="small" color="danger"></ion-button>
    <ion-button (click)="corAnotacao('light')" size="small" color="light"></ion-button>
    <ion-button (click)="corAnotacao('medium')" size="small" color="medium"></ion-button>
  </div>

  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input   [(ngModel)]="this.titulo" value="{{titulo}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-textarea  rows="17" cols="20" [(ngModel)]="this.descricao" value="{{descricao}}"
    ></ion-textarea>
  </ion-item>
  
  <ion-list>
    <ion-label><strong>Áudios</strong></ion-label>
    <ion-item *ngFor="let file of audios" tappable (click)="play(file)"  text-wrap>
      {{ file.name }}
      <!--<p>{{ file.size / 1000 / 1000 | number }} MB</p>-->
      <!--<ion-item >
        <ion-icon *ngIf="file.playAudio" name="play"></ion-icon>
        <ion-icon *ngIf="!file.playAudio" name="pause"></ion-icon>
      </ion-item>-->
    </ion-item>
  </ion-list>





</ion-content>