<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="loadingCards()"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corAnotcao">
    <ion-button (click)="corAnotacao('success')" size="small" color="success"></ion-button>
    <ion-button (click)="corAnotacao('secondary')" size="small" color="secondary"></ion-button>
    <ion-button (click)="corAnotacao('tertiary')" size="small" color="tertiary"></ion-button>
    <ion-button (click)="corAnotacao('dark')" size="small" color="dark"></ion-button>
    <ion-button (click)="corAnotacao('warning')" size="small" color="warning"></ion-button>
    <ion-button (click)="corAnotacao('danger')" size="small" color="danger"></ion-button>
    <ion-button (click)="corAnotacao('light')" size="small" color="light"></ion-button>
    <ion-button (click)="corAnotacao('medium')" size="small" color="medium"></ion-button>
  </div>

  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="this.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-textarea [(ngModel)]="this.descricao" rows="17" cols="20"></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="salvar()">Salvar</ion-button>

  <ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)" debounce=260></ion-searchbar>

  <ion-card *ngFor="let anotacao of anotacoes | filtro: tituloCor"  color={{anotacao.cor}}>
    <ion-card-content >
      <ion-card-title>{{anotacao.titulo}}</ion-card-title>
      <ion-label>{{anotacao.descricao}}</ion-label>
    </ion-card-content>
  </ion-card>



</ion-content>