div.corAnotcao {
    text-align: center;
    
    ion-button {
        margin: 5px; 
    }
}


div.corAnotcao2 {
    text-align-last: left;
    ion-button {
        margin: 0.5px; 
    }
}

div.spaceButtons {
    text-align-last: right; 
    
    ion-button {
        margin: 1px; 
    }
}